:root{
    --main-color: #23c821;
}

*{
    box-sizing: border-box;
    font-family: fallout_font;
}

body{
    margin: 0;
    background-color: #000;
    cursor: url("data:image/svg+xml,%3Csvg%20xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width='32'%20height='32'%20viewBox='0%200%2032%2032'%3E%3Cpolygon%20points='16%2C2%2026%2C26%206%2C26'%20style='fill%3Alime%3Bstroke%3Ablack%3Bstroke-width%3A1'%20transform='rotate(330%2016%2016)'%20%2F%3E%3C%2Fsvg%3E") 6 6, auto;
}

@font-face {
    font-family: "fallout_font";
    src: url("/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

button{
    cursor: url("data:image/svg+xml,%3Csvg%20xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width='32'%20height='32'%20viewBox='0%200%2032%2032'%3E%3Cpolygon%20points='16%2C2%2026%2C26%206%2C26'%20style='fill%3Alime%3Bstroke%3Ablack%3Bstroke-width%3A1'%20transform='rotate(330%2016%2016)'%20%2F%3E%3C%2Fsvg%3E") 6 6, auto;
}

.scan-text {
    transition: color 0.08s linear;
}


 